In [1]:
import numpy as np
from astropy.io import ascii

/home/zapredfield/anaconda/lib/python2.7/site-packages/IPython/kernel/__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated. You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)

In [2]:
Z = ascii.read("Z.txt") 
cat=ascii.read("Frontier_isedfit_format_v6")

/home/zapredfield/anaconda/lib/python2.7/site-packages/bs4/__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 162 of the file /home/zapredfield/anaconda/lib/python2.7/runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [19]:
cand=[]
for c in Z:
    num=c[0]
    cand.append(num)


isd=[]
    
#for i in range(0,len(cat)):
#    c=cat[i]
#    if i in cand:
#        isd.append(c)

#Arregle el catalogo

for i in cand:
    for j in range(0,len(cat)):
        if i==cat[j][0]:
            isd.append(cat[j])

[<Row 0 of table
 values=(1, 3.603856, -30.381905, 8.64, 0.2861, 0.5079, 27.83, 0.08, 27.86, 0.09, 28.49, 0.17, 29.85, 0.43, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 26.2, 0.5, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 1 of table
 values=(2, 3.572515, -30.413267, 8.26, 0.2871, 0.1929, 28.12, 0.12, 28.11, 0.13, 28.11, 0.13, 29.84, 0.48, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 2 of table
 values=(3, 3.603858, -30.415842, 8.56, 0.9531, 0.4669, 28.33, 0.1, 28.63, 0.15, 28.66, 0.18, 30.5, 90.0, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 5 of table
 values=(6, 3.604005, -30.382309, 8.25, 0.1921, 0.1389, 26.95, 0.06, 27.09, 0.07, 27.36, 0.1, 28.83, 0.26, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.5, 0.2, 25.2, 0.2, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 6 of table
 values=(7, 3.603397, -30.382256, 8.24, 0.0591, 0.0709, 26.17, 0.03, 26.1, 0.03, 26.38, 0.05, 27.53, 0.09, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 26.5, 0.6, 26.2, 0.5, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 8 of table
 values=(9, 3.572902, -30.413658, 8.26, 0.8811, 0.1619, 28.49, 0.14, 28.22, 0.12, 28.68, 0.18, 29.62, 0.32, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 9 of table
 values=(10, 3.598108, -30.382393, 8.25, 0.3731, 0.1269, 27.7, 0.09, 27.57, 0.09, 27.89, 0.12, 28.89, 0.23, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 10 of table
 values=(11, 3.600947, -30.399149, 8.27, 0.6521, 0.3639, 28.96, 0.17, 28.97, 0.19, 28.89, 0.18, 30.5, 90.0, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 11 of table
 values=(12, 3.603582, -30.382442, 8.67, 0.3311, 0.2489, 28.52, 0.19, 28.09, 0.14, 28.47, 0.21, 30.5, 90.0, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.7, 1.3, 26.1, 1.4, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 12 of table
 values=(13, 3.60452, -30.380472, 7.85, 0.0841, 0.0829, 25.56, 0.03, 25.73, 0.03, 25.91, 0.04, 26.83, 0.07, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 26.6, 0.7, 25.0, 0.2, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 14 of table
 values=(15, 3.605263, -30.380606, 7.83, 6.2781, 0.3579, 27.97, 0.12, 27.95, 0.13, 28.29, 0.17, 29.05, 0.26, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 15 of table
 values=(16, 3.588985, -30.378662, 7.63, 0.2411, 0.0749, 27.55, 0.05, 27.77, 0.07, 27.52, 0.06, 28.29, 0.09, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 16 of table
 values=(17, 3.606575, -30.380928, 7.48, 0.1401, 0.0819, 26.38, 0.04, 26.45, 0.04, 26.86, 0.06, 27.39, 0.08, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 26.0, 0.4, 25.7, 0.4, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 17 of table
 values=(18, 3.592285, -30.409911, 7.32, 0.1371, 0.1209, 26.98, 0.06, 26.99, 0.07, 26.92, 0.06, 27.39, 0.07, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 18 of table
 values=(19, 3.579668, -30.398678, 7.52, 0.5351, 0.1769, 28.33, 0.12, 28.11, 0.11, 28.29, 0.14, 28.89, 0.17, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 19 of table
 values=(20, 3.603208, -30.410368, 6.93, 0.0321, 0.1709, 26.48, 0.04, 26.68, 0.06, 26.71, 0.06, 26.83, 0.05, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 26.6, 0.4, 26.6, 0.3, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 20 of table
 values=(21, 3.581282, -30.404207, 6.86, 0.5371, 0.3549, 28.75, 0.16, 28.61, 0.16, 28.78, 0.19, 28.98, 0.17, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 21 of table
 values=(22, 3.585321, -30.397964, 6.96, 0.0901, 0.0719, 27.49, 0.04, 27.45, 0.04, 27.33, 0.04, 27.55, 0.03, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 22 of table
 values=(23, 3.474802, -30.362578, 7.29, 0.1261, 0.0639, 26.72, 0.05, 99.0, 90.0, 26.52, 0.05, 26.98, 0.05, 28.78, 90.0, 30.42, 90.0, 30.26, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 23 of table
 values=(24, 3.480642, -30.371175, 6.36, 0.2371, 0.0819, 27.4, 0.08, 99.0, 90.0, 26.95, 0.07, 26.93, 0.06, 28.69, 0.34, 30.42, 90.0, 30.26, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 24 of table
 values=(25, 3.487575, -30.36438, 6.16, 5.245, 0.947, 26.98, 0.06, 99.0, 90.0, 27.06, 0.08, 27.38, 0.08, 28.65, 0.32, 30.42, 90.0, 30.26, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 25 of table
 values=(26, 3.488924, -30.39463, 7.1, 0.4721, 0.0899, 27.11, 0.08, 99.0, 90.0, 27.14, 0.08, 27.39, 0.08, 28.78, 90.0, 30.42, 90.0, 30.26, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 26 of table
 values=(27, 3.48255, -30.371559, 7.85, 0.1251, 5.2119, 26.92, 0.04, 99.0, 90.0, 27.15, 0.09, 27.32, 0.06, 28.51, 0.28, 30.42, 90.0, 30.26, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 27 of table
 values=(28, 3.48396, -30.397152, 6.7, 0.5541, 0.0819, 27.27, 0.08, 99.0, 90.0, 27.2, 0.09, 27.2, 0.06, 28.77, 90.0, 30.42, 90.0, 30.26, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 28 of table
 values=(29, 3.467582, -30.396908, 6.83, 0.5791, 0.1209, 27.42, 0.09, 99.0, 90.0, 27.23, 0.09, 27.38, 0.08, 28.77, 90.0, 30.42, 90.0, 30.26, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 29 of table
 values=(30, 3.467097, -30.387686, 6.06, 0.1481, 0.1859, 27.4, 0.08, 99.0, 90.0, 27.3, 0.1, 27.06, 0.05, 28.34, 0.25, 30.42, 90.0, 30.26, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>, <Row 30 of table

In [22]:
for i in range(0,len(cand)):
    
    miz=Z[i][1]
    misig=Z[i][2]
    mimsig=Z[i][3]
    print cand[i]
    print isd[i][3]
    print isd[i][4]
    print isd[i][5],"\n \n"
    

    isd[i][3]=Z[i][1]
  
    isd[i][4]=Z[i][3]
    isd[i][5]=Z[i][2]

1
8.64
0.2861
0.5079


2
8.26
0.2871
0.1929


3
8.56
0.9531
0.4669


6
8.25
0.1921
0.1389


7
8.24
0.0591
0.0709


9
8.26
0.8811
0.1619


10
8.25
0.3731
0.1269


11
8.27
0.6521
0.3639


12
8.67
0.3311
0.2489


13
7.85
0.0841
0.0829


15
7.83
6.2781
0.3579


16
7.63
0.2411
0.0749


17
7.48
0.1401
0.0819


18
7.32
0.1371
0.1209


19
7.52
0.5351
0.1769


20
6.93
0.0321
0.1709


21
6.86
0.5371
0.3549


22
6.96
0.0901
0.0719


23
7.29
0.1261
0.0639


24
6.36
0.2371
0.0819


25
6.16
5.245
0.947


26
7.1
0.4721
0.0899


27
7.85
0.1251
5.2119


28
6.7
0.5541
0.0819


29
6.83
0.5791
0.1209


30
6.06
0.1481
0.1859


31
6.62
0.5801
0.1169


32
5.98
0.2561
0.2469


34
7.81
0.1782
4.4678


35
6.45
0.7405
0.5235


36
5.86
0.3571
0.2759


37
6.39
0.6781
0.2039


38
7.53
0.2411
0.0939


39
7.63
0.3591
0.1249


41
9.46
0.4691
0.1049


42
9.17
0.2821
0.0639


44
8.29
0.1081
0.0409


45
8.27
0.1491
0.0949


48
9.34
0.4321
0.0869


49
9.13
0.2171
0.1769


50
8.28
0.0531
0.0139


52
7.88
6.4947
0.4003


53
7.9
0.1411
0.2239


55
7.4
0.1951
0.2289


56
7.54
0.0541
0.1309


57
7.52
0.3091
0.1849


58
7.25
0.0891
0.1059


59
7.24
0.1191
0.0999


60
7.25
0.1501
0.1249


61
6.66
0.1251
0.3069


62
7.05
0.0841
0.0409


63
6.93
0.1421
0.1649


64
6.28
0.1001
0.0969


65
6.85
0.0821
0.0549


66
6.7
0.0971
0.0619


67
6.49
0.0551
0.0489


68
6.89
0.0441
0.0749


69
6.28
0.0991
0.1289


70
7.43
0.0871
0.0479


71
6.77
0.0111
0.0729


72
6.6
0.0611
0.1739


73
6.84
0.0561
0.0989


75
7.79
0.1182
0.1298


76
7.02
0.2151
0.0289


77
6.03
0.1691
0.2099


78
7.13
0.4261
0.1019


79
6.52
0.0721
0.0349


80
6.2
0.0731
0.0429


81
6.45
0.1221
0.0819


82
6.83
0.1371
0.0979


84
7.45
0.3461
0.2299


86
7.82
0.4331
0.2289


87
6.4
0.0901
0.0679


88
6.42
0.0811
0.0609


89
6.69
0.0831
0.0479


90
6.65
0.0591
0.0739


91
6.89
0.1151
0.1909


92
6.44
0.0881
0.0879


93
6.68
0.0911
0.0399


94
6.51
0.0511
0.0199


96
6.34
0.3031
0.1829


97
6.47
0.1981
0.2369


98
5.73
0.0571
0.0159


99
6.1
0.0261
0.0369


101

IndexError: list index out of range

In [24]:
print isd[1]

<Row 1 of table
 values=(2, 3.572515, -30.413267, 8.393, 0.5963, 0.4708, 28.12, 0.12, 28.11, 0.13, 28.11, 0.13, 29.84, 0.48, 31.0, 90.0, 30.8, 90.0, 30.9, 90.0, 25.9, 90.0, 25.3, 90.0, 99.0, 90.0, 99.0, 90.0, 99.0, 90.0)
 dtype=[('col1', '<i8'), ('col2', '<f8'), ('col3', '<f8'), ('col4', '<f8'), ('col5', '<f8'), ('col6', '<f8'), ('col7', '<f8'), ('col8', '<f8'), ('col9', '<f8'), ('col10', '<f8'), ('col11', '<f8'), ('col12', '<f8'), ('col13', '<f8'), ('col14', '<f8'), ('col15', '<f8'), ('col16', '<f8'), ('col17', '<f8'), ('col18', '<f8'), ('col19', '<f8'), ('col20', '<f8'), ('col21', '<f8'), ('col22', '<f8'), ('col23', '<f8'), ('col24', '<f8'), ('col25', '<f8'), ('col26', '<f8'), ('col27', '<f8'), ('col28', '<f8'), ('col29', '<f8'), ('col30', '<f8')]>

In [25]:
X=[]
for dato in isd:
    a=[]
    for j in range(0,30):
        a.append(dato[j])
    X.append(a)
    
X=np.transpose(X)

In [26]:
print X[0]

[  1.   2.   3.   6.   7.   9.  10.  11.  12.  13.  15.  16.  17.  18.  19.
  20.  21.  22.  23.  24.  25.  26.  27.  28.  29.  30.  31.  32.  34.  35.
  36.  37.  38.  39.  41.  42.  44.  45.  48.  49.  50.  52.  53.  55.  56.
  57.  58.  59.  60.  61.  62.  63.  64.  65.  66.  67.  68.  69.  70.  71.
  72.  73.  75.  76.  77.  78.  79.  80.  81.  82.  84.  86.  87.  88.  89.
  90.  91.  92.  93.  94.  96.  97.  98.  99.]

In [27]:
Xs=[]
for i in range(0,30):
    if i==0:
        Xs.append(X[i].astype(int))
    if i!=0:
        Xs.append(X[i])

In [28]:
print Xs[0]

[ 1  2  3  6  7  9 10 11 12 13 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29
 30 31 32 34 35 36 37 38 39 41 42 44 45 48 49 50 52 53 55 56 57 58 59 60 61
 62 63 64 65 66 67 68 69 70 71 72 73 75 76 77 78 79 80 81 82 84 86 87 88 89
 90 91 92 93 94 96 97 98 99]

In [29]:
from astropy.table import Table, Column, MaskedColumn
data = Table(Xs)
ascii.write(data, 'cat.txt')